<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763725021270-j6a8d9vuv8q8tcgrhama3jia51b37uka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763725021270-j6a8d9vuv8q8tcgrhama3jia51b37uka</string>
	<key>API_KEY</key>
	<string>AIzaSyBARJDwC6qcZa7I97dMmoNuhmkl0A9iCUw</string>
	<key>GCM_SENDER_ID</key>
	<string>763725021270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>space.focus-cafe</string>
	<key>PROJECT_ID</key>
	<string>myzen-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>myzen-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763725021270:ios:e0d7b0005db1fd72587bf7</string>
</dict>
</plist>